In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
# cleaner syntax
# faster computation

In [ ]:
import numpy as np

In [ ]:
a = [2,3,4]
sq_a = []
for i in a:
  sq_a.append(i**2)
sq_a

[4, 9, 16]

In [ ]:
b = np.array(a)
b**2

array([ 4,  9, 16])

In [ ]:
def matmul(A,B):
  C = np.zeros((100,100))
  for i in range(len(A)):
    for j in range(len(A)):
      for k in range(len(A)):
        C[i][j] += A[i][k] * B[k][j]
  return C

In [ ]:
m1 = np.random.rand(100,100)
m2 = np.random.rand(100,100)

In [ ]:
%timeit print(matmul(m1,m2))

In [ ]:
%timeit print(np.matmul(m1,m2))

In [ ]:
print(np.array([1,2.5,3.6]))

[1.  2.5 3.6]

In [ ]:
print(np.array([1,2.5,"Hello"]))

['1' '2.5' 'Hello']